{% extends 'members.html' %} {% block title %}ITECS Member Details{% endblock %}
{% block content %}
<section>
	<div class="container">
		<div class="row text-center">
			<div class="col-xl-10 mx-auto mt-5">
				<img src="/media/{{ member.profile_image }}" alt="..." />
			</div>
		</div>
		<div class="text-center">
			<div class="row">
				<div class="col-xl-8 col-lg-10 mx-auto mt-5 text-lg text-light">
					<span style="color: #ff4d05;" class="text-lg">Name:</span> {{ member.name }}
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 col-lg-10 mx-auto mt-2 text-lg text-light">
					<span style="color: #ff4d05;" class="text-lg">Username:</span> {{ member.username }}
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 col-lg-10 mx-auto mt-2 text-lg text-light">
					<span style="color: #ff4d05;" class="text-lg">Company:</span> {{ member.company_name }}
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 col-lg-10 mx-auto mt-2 text-lg text-light">
					<span style="color: #ff4d05;" class="text-lg">Job:</span> {{ member.job_title }}
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 col-lg-10 mx-auto mt-2 text-lg text-light">
					<span style="color: #ff4d05;" class="text-lg">Designation:</span> {{ member.job_designation }}
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 col-lg-10 mx-auto mt-2 text-lg text-light">
					<span style="color: #ff4d05;" class="text-lg">Experience:</span> {{ member.work_experience }}
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 col-lg-10 mx-auto mt-2 text-lg text-light">
					<span style="color: #ff4d05;" class="text-lg">Contact Me:</span> {{ member.email }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-8 col-lg-10 mx-auto mt-2 text-lg">
				<span style="color: #ff4d05;" class="text-lg">Description:</span>
				<div class="text-content">{{ member.description|safe }}</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
