{% extends 'services.html' %} {% block title %}ITECS Service Data{% endblock %}
{% block content %}
<section class="mt-5 pt-5">
	<div class="container">
        <h1 class="text-white">All <span style="color: #ff4d05;">Services</span></h1><br />
		<table class="table" style="color: #ccc">
			<thead>
				<tr class="text-center">
					<th scope="col">#</th>
					<th scope="col">Service Name</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for service in service_objs %}
				<tr class="text-center">
					<th scope="row">{{forloop.counter}}</th>
					<td>{{service.title}}</td>
					<td>
						<a
							href="{%  url 'update_services' service.slug %}"
							class="btn btn-success mr-2 hover-animate"
							>Update</a
						>
						<a
							href="{% url 'delete_services' service.id %}"
							class="btn btn-danger hover-animate"
							>Delete</a
						>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}